In [153]:
import pandas as pd
from random import randrange
from datetime import timedelta
from dateutil import parser as p

In [154]:
# define start date, end date and increment range
start_date=p.parse('20180301')
end_date=p.parse('20180320')
date_increment_range=(0,4)

In [155]:
#create master transaction list
transMaster=pd.DataFrame([['Coca-Cola 1 liter',12.40],
                          ['Koo Baked Beans 500g',5.50],
                          ['Omo Washing Powder',76.99],
                          ['Kit Kat Chunky',6.30]])

In [156]:
i_date=start_date
out_data=[]

while i_date < end_date:
    x=list(transMaster.loc[randrange(len(transMaster)-1)])
    x.append(i_date.strftime('%Y/%m/%d'))
    out_data.append(x)
    i_date=(i_date+timedelta(days=randrange(date_increment_range[0],date_increment_range[1])))

In [157]:
df=pd.DataFrame(out_data)
df

                       0      1           2
0      Coca-Cola 1 liter  12.40  2018/03/01
1     Omo Washing Powder  76.99  2018/03/04
2   Koo Baked Beans 500g   5.50  2018/03/04
3   Koo Baked Beans 500g   5.50  2018/03/04
4     Omo Washing Powder  76.99  2018/03/06
5   Koo Baked Beans 500g   5.50  2018/03/08
6   Koo Baked Beans 500g   5.50  2018/03/10
7   Koo Baked Beans 500g   5.50  2018/03/11
8     Omo Washing Powder  76.99  2018/03/14
9      Coca-Cola 1 liter  12.40  2018/03/15
10    Omo Washing Powder  76.99  2018/03/18