In [17]:
import pandas as pd
from random import randrange
from datetime import timedelta
from dateutil import parser as p

In [18]:
#define start date, end date and date increment range for random increment selection
START_DATE=p.parse('20180301')
END_DATE=p.parse('20180320')
DATE_INCREMENT_RANGE=(0,4)

In [19]:
#define master product and price list
transMaster=pd.DataFrame([['Coca-Cola 1 liter',12.40],
                          ['Koo Baked Beans 500g',5.50],
                          ['Omo Washing Powder',76.99],
                          ['Kit Kat Chunky',6.30]])

In [20]:
#Create a list of transactions based on:
#      -random selection from the previously defined master product and price list
#      -a random increment of data with a previously define range from a previously define start date
#      -stops generating items when previously defined end date is reached

i_date=START_DATE
out_data=[]

while i_date < END_DATE:
    x=list(transMaster.loc[randrange(len(transMaster))])
    x.append(i_date.strftime('%Y/%m/%d'))
    out_data.append(x)
    i_date=(i_date+timedelta(days=randrange(DATE_INCREMENT_RANGE[0],DATE_INCREMENT_RANGE[1])))

In [21]:
#Convert the list to a dataframe
df=pd.DataFrame(out_data)
df

                       0      1           2
0     Omo Washing Powder  76.99  2018/03/01
1   Koo Baked Beans 500g   5.50  2018/03/02
2   Koo Baked Beans 500g   5.50  2018/03/05
3         Kit Kat Chunky   6.30  2018/03/07
4         Kit Kat Chunky   6.30  2018/03/10
5         Kit Kat Chunky   6.30  2018/03/11
6   Koo Baked Beans 500g   5.50  2018/03/11
7   Koo Baked Beans 500g   5.50  2018/03/14
8   Koo Baked Beans 500g   5.50  2018/03/15
9         Kit Kat Chunky   6.30  2018/03/16
10     Coca-Cola 1 liter  12.40  2018/03/18